/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: NotoSansRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
