#sideBarMenu {
  position: fixed;
  right: 20px;
  top: 70px;
  background: #1d001d;
  width: 350px;
  height: 100vh;
  display: none;
}

#sideBarMenu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
}
#sideBarMenu nav ul li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.5);
  border-top: 2px solid hsla(0, 0%, 100%, 0.1);
  font-weight: 700;
  text-transform: capitalize;
}
#sideBarMenu nav ul li:first-child {
  margin-bottom: 16px;
}

#sideBarMenu nav ul li a.active {
  color: #ff0091;
  background: hsla(0, 0%, 100%, 0.06);
  border-radius: 8px;
  border-color: #1d001d;
  margin: 10px 20px;
  padding: 15px;
}
